#transactions {
  position: relative;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}
#blockConf {
  position: relative;
  min-height: 170px;
  max-height: 170px;
  overflow-y: auto;
}
#processRestart {
  position: relative;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}