<div class="row"></div>
<div class="col-md-4 col-sm-6 col-xs-12" ng-controller='usersTransactions as transactions'>
	<users-transactions></users-transactions>
</div>
<div class="col-md-4 col-sm-6 col-xs-12" ng-controller='usersBlock as block'>
	<users-block></users-block>
</div>
<div class="col-md-4 col-sm-6 col-xs-12" ng-controller='usersControl as controls'>
	<users-controls></users-controls>
</div>
<div class="row"></div>
<div class="jumbotron" ng-controller='usersJumbo as jumbo'>
	<users-jumbo></users-jumbo>
</div>